body {
    // margin: 0;
    background-color: #111111;
    font-family:Roboto Condensed;
}

#title {
    color: #FFFFFF;
    text-align: center;
}

#flappy_bird {
    width: 960px;
    height: 600px;
    display: block;
    margin: 0 auto;
}